# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore API key
app/.env
app/src/resources/application.properties

# Ignore
.DS_Store

# User Data
app/src/main/resources/data
app/src/main/resources/uploads

# Arquivos compilados Java
*.class
app/bin